@import "./../../../global.scss";

.warningModalWrapper {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;
	z-index: 998;
	background-color: $primary-transparent-color;

	display: flex;
	justify-content: center;
	align-items: center;

	.warningModal {
		width: 94%;
		max-width: 500px;
		z-index: 999;
		background-color: $secondary-color;
		padding: 2rem;
		border-radius: 8px;
		border: 2px solid $primary-color;

		.warningModalBtnWrapper {
			gap: 1rem;

			button:nth-child(1) {
				width: 35%;
			}

			button:nth-child(2) {
				width: 55%;
			}
		}
	}
}
