@import "./../../../global.scss";

.settingsWrapper {
	height: 100%;

	.backBtnWrapper {
		margin-top: 7rem;
	}
}

.slider {
	height: 0px;
	border: 2px solid $primary-color;
	font-family: ClashGrotesk-Regular;

	.sliderThumb {
		background-color: $primary-color;
		cursor: pointer;
		width: 1rem;
		height: 1rem;
		border-radius: 100%;
		bottom: -0.5rem;
	}
}
