@import "./../../global.scss";

.addTaskBtn,
.allTaskBtn {
	position: fixed;
	right: 1.5rem;
	z-index: 998;
	transition: all 0.4s;
}
.addTaskBtn {
	bottom: calc($bottom-nav-height + 2rem);
}

.allTaskBtn {
	bottom: calc($bottom-nav-height + 2.5rem + 52px);
}

.homeWrapper {
	margin-bottom: 5rem;
}
