@import "./../../global.scss";

.topNavWrpper {
	display: flex;
	flex: row nowrap;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: $top-nav-height;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
