@import "./../../global.scss";

.tiptap {
	font-size: 1.25rem;

	// vh
	height: calc(100vh - $bottom-nav-height - 4rem);
	max-height: calc(100vh - $bottom-nav-height - 4rem);
	// svh
	height: calc(100svh - $bottom-nav-height - 4rem);
	max-height: calc(100svh - $bottom-nav-height - 4rem);
	// dvh
	height: calc(100dvh - $bottom-nav-height - 4rem);
	max-height: calc(100dvh - $bottom-nav-height - 4rem);

	height: calc(100dvh - $bottom-nav-height - 4rem);
	max-height: calc(100dvh - $bottom-nav-height - 4rem);

	width: 100%;

	border: 2px solid $primary-color;
	border-radius: 8px;

	padding: 0.5rem;
	overflow-y: auto;

	background-color: $secondary-color;
}

.toggleBtnWrapper {
	position: absolute;
	bottom: 4rem;
	left: 0.5rem;
}
