@import "./../../global.scss";

.bottomNavWrpper {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 998;

	display: flex;
	flex: row nowrap;
	align-items: flex-start;
	justify-content: center;
	gap: 3rem;

	width: 100%;
	height: $bottom-nav-height;
	// max-width: 800px;
	padding: 0.5rem;
	margin-right: auto;
	margin-left: auto;

	background-color: $secondary-color;
	border-top: 2px solid $primary-color;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	box-shadow: 0 -4px 5px $primary-transparent-color;
}

.activeNavBtn {
	background-color: black;
}

@media screen and (max-width: 700px) {
	.bottomNavWrpper {
		justify-content: space-around;
	}
}
