@import "./../../global.scss";

.bottomNavWrpper {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 998;

	display: flex;
	flex: row nowrap;
	align-items: flex-start;
	justify-content: center;
	gap: 3rem;

	width: 90%;
	max-width: 800px;
	padding: 0.75rem 0.5rem;
	margin-right: auto;
	margin-left: auto;

	background-color: $primary-color;
	border: 1px solid $secondary-color;
	border-radius: 1000px;
	box-shadow: 0 0 20px $primary-transparent-color;

	div[role="button"] {
		border: 2px solid $secondary-color;
	}
}

.activeNavBtn {
	background-color: black;
}

@media screen and (max-width: 800px) {
	.bottomNavWrpper {
		justify-content: space-around;
	}
}

@media screen and (min-width: 800px) {
	.bottomNavWrpper {
		width: 25rem;
	}
}
