@import "./../../global.scss";

.allTaskWrapper {
	width: 100%;
	height: 100vh;
	height: 100svh;
	height: 100dvh;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	background-color: $primary-transparent-color;
	font-family: inherit;

	.allTask {
		background-color: $secondary-color;
		border: 2px solid $primary-color;
		border-radius: 0.5rem;

		width: 95%;
		max-width: 500px;
		height: auto;
		max-height: 75vh;
		max-height: 75dvh;
		max-height: 75svh;
		overflow: auto;

		padding: 1.5rem 1rem;

		font-family: inherit;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.allTaskHeading {
			font-size: 1.15rem;
			text-align: center;
		}

		.tasksWrapper {
			.priorityHeading {
				font-size: 1rem;
			}
		}
	}

	.allTaskCloseBtn {
		position: fixed;
		top: 1rem;
		right: 1rem;
	}
}
