@import "./../../global.scss";

.sidebarWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;

	height: 100vh;
	height: 100svh;
	height: 100dvh;
	width: 100%;

	justify-content: flex-end;

	background-color: $primary-transparent-color;

	.sidebar {
		position: relative;
		height: 100%;
		width: 65%;
		max-width: 450px;

		border-left: 2px solid $primary-color;
		background-color: $secondary-color;
		box-shadow: -4px 0 5px $primary-transparent-color;

		padding: 2rem;
		padding-top: 4.5rem;
		overflow-y: auto;
	}

	.sidebarCloseBtn {
		position: absolute;
		z-index: 999;
		top: 1rem;
		left: 1rem;
	}

	.sidebarContent ul li {
		margin-bottom: 0.5rem;
	}
}
