@import "./styles/scss/_variables.scss";
@import "./styles/scss/_animations.scss";

@import "./styles/scss/_editorStyles.scss";

@import "./styles/scss/_fontClasses.scss";
@import "./styles/scss/_fontSizes.scss";

@import "./styles/scss/fonts/_clash-grotesk.scss";
@import "./styles/scss/fonts/_montserrat.scss";

@import "./styles/scss/_uiClasses.scss";

@import "./styles/scss/_utilityClasses.scss";

// breakpoints
@import "./styles/scss/_breakpoints.scss";

::selection {
	background-color: $primary-color;
	color: $secondary-color;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar {
	width: 0.5rem;
}

*::-webkit-scrollbar-track {
	background-color: #1e1e1e63;
}

*::-webkit-scrollbar-thumb {
	background-color: $primary-color;
	border-radius: 4px;
	border: 2px solid $secondary-color;
}

body {
	padding: 24px;
	font-family: "ClashGrotesk-Regular", sans-serif;

	background-color: $secondary-color;
}

.checkboxWrapper *,
.checkboxWrapper ::after,
.checkboxWrapper ::before {
	user-select: none;
}

.checkboxWrapper {
	position: relative;
	display: block;
	overflow: hidden;
}

.checkboxWrapper .label {
	cursor: pointer;
}

.checkboxWrapper input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.checkboxWrapper .label svg {
	vertical-align: middle;
}

.checkboxWrapper .path1 {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	transition: 0.5s stroke-dashoffset;
	opacity: 0;
}

.checkboxWrapper .taskCheckbox:checked + label svg g path {
	stroke-dashoffset: 0;
	opacity: 1;
}

.custom-toast-info {
	background-color: $secondary-color !important;
	color: $primary-color !important;
}
.custom-toast-info .Toastify__progress-bar {
	background-color: $primary-color !important;
}

.custom-toast-info .Toastify__toast-icon svg {
	fill: $primary-color !important;
}

@media screen and (max-width: 540px) {
	body {
		padding: 8px;
	}
}
