.primaryFont {
	font-family: "ClashGrotesk-Regular", sans-serif;
}

.primaryFontMedium {
	font-family: "ClashGrotesk-Medium", sans-serif;
}

.displayFontSemiBold {
	font-family: "Montserrat-Semibold", sans-serif;
}

.displayFont {
	font-family: "Montserrat-Black", sans-serif;
}

.primaryFontColor {
	color: $primary-color;
}

.secondaryFontColor {
	color: $secondary-color;
}
