/* UI CLASSES */
%toggleBtnBasic {
	appearance: none;
	border: 2px solid $primary-color;
	border-radius: 4px;

	width: 40px;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	@extend %toggleBtnBasic;
}

.btnWithText {
	width: fit-content;
	height: fit-content;
	padding: 8px 16px;
	font-size: 1rem;
}

.btnPrimary {
	background-color: $secondary-color;
}

.btnSecondary {
	background-color: $primary-color;
}

.btnSmall {
	width: 28px;
	height: 28px;

	padding: 0;
}

.iconSizeLarge {
	height: 40px;
	width: 40px;
}

.iconSize {
	height: 28px;
	width: 28px;
}

.iconSizeSmall {
	height: 20px;
	width: 20px;
}

.toggleBtnWrapper {
	width: calc(100vw - 16px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

a:link,
a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none;
	color: $primary-color;
}

.linkUnderlined {
	text-decoration: underline !important;
}

.linkUnderlined:hover {
	font-weight: bold;
}

// tag element PARENT SHOULD HAVE POSITION RELATIVE

.tag {
	display: inline-block;
	font-size: 0.875rem;
	position: absolute;
	top: 1%;
}

@media screen and (max-width: 550px) {
	.toggleBtnWrapper {
		gap: 0.5rem;
	}
}
