$primary-color: #1e1e1e;
$secondary-color: #ffffff;
$tertiary-color: #535353;
$primary-transparent-color: #1e1e1e63;
$secondary-transparent-color: #1e1e1e2e;

$website-grey: #545252;

$top-nav-height: 2.5rem;
$bottom-nav-height: 4rem;
$editor-bottom-exclusion: calc($bottom-nav-height + 3rem);

$max-width-xl: 1400px;
$min-height: 550px;
