@import "./../../global.scss";
@import "./../../styles/scss/slider.scss";

.pomodoroWrapper {
	height: 100%;
	width: 100%;

	padding: 0.5rem;

	.timerBtnWrapper {
		width: 100%;

		justify-content: space-around;
	}
}
