@import "./../../global.scss";
@import "./../../styles/scss/slider.scss";

.pomodoroWrapper {
	height: 100%;
	width: 100%;

	padding: 0.5rem;

	.timerModeText {
		font-size: 1rem;
		position: absolute;
		top: 1rem;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.timerBtnWrapper {
		width: 100%;

		justify-content: space-around;
	}
}
